@primary-color: blueviolet;
@white: white;
@border-color: blueviolet;

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: @primary-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  color: @white;
}

footer {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: @white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination {
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

    .pagination-button {
      border: none;
      background-color: @primary-color;
      color: @white;
      border-radius: 50%;
      font-weight: 700;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      i {
        font-size: 18px;
      }
    }
  
    .pagination-numbers {
      height: 50px;
      background-color: @primary-color;
      color: @white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
    }

    .pagination-number {
      cursor: pointer;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pagination-number.active{
      color: @primary-color;
      background-color: @white;
    }
  }
}

.app-content {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: @white;
  box-sizing: border-box;

  input {
    width: 0;
  }
  
  textarea, input {
    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    background-color: @primary-color;
    color: @white;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
  }

  .employee-form {
      background: @primary-color;
      padding: 20px;
      border-radius: 5px;
      margin: 20px auto;
      max-width: 26rem;
      min-width: 16rem;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .form-actions {
    display: flex;
    justify-content: center;
    gap: 12px;

    button {
      background-color: @white;
      border-radius: 8px;
      padding: 8px;
      color: @primary-color;
      width: 64px;
      font-weight: bold;
    }
  }

  .search-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 26rem;
      min-width: 16rem;
      margin: 10px auto 40px auto;
      gap: 12px;
  }

  .search-bar {
      flex-grow: 1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 10px;
      border: 2px solid @border-color;
      border-radius: 0.75rem;
      color: @primary-color;
  }

  .toggle-switch {
    display: flex;
    border-radius: 50px;
    border: 2px solid @primary-color;
    background-color: @primary-color;
  }


  .toggle-option {
      padding: 10px;
      font-size: 14px;
      transition: all 0.3s ease;
      color: @white;
      margin: 0.8px;
      border-radius: 50px;

      &.active {
          background-color: @white;
          color: @primary-color;
      }
  }

  .search-input {
      flex-grow: 1;
      border: none;
  }

  .employee-item {
    max-width: 26rem;
    min-width: 16rem;
    margin: 0 auto 16px auto;
    padding: 24px;
    border-radius: 8px;
    background-color: @primary-color;
    color: @white;
    
    input {
      border: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
    }
  }

  .employee-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: end;
    font-size: 20px;
    font-weight: bold;
  }

  .employee-name {
    flex: 1;
  }

  .employee-actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    button {
      background-color: @white;
      border-radius: 4px;
      color: @primary-color;
      padding: 6px;
      font-size: 14px;
    }
  }

  .employee-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }

  .detail-item {
    display: flex;
    align-items: center;
    gap: 10px;

    i {
      font-size: 18px;
    }

    > :last-child{
      flex-grow: 1;
      text-align: right;
    }
    
    .manager-link {
      flex: 1;
      text-align: right;
      cursor: pointer;
      text-decoration: underline;
      
      &:hover {
        font-weight: bold;
      }
    }
  }

  .label {
    font-weight: bold;
  }

  .no-employees-found, .loading{
    color: @primary-color;
  }

  .pagination {
    display: flex;
    background: @white;
  }
}